body {
  background: #c9c0d4;
}

#podkreslenie {
  background: #b9a6ab;
}

nav a {
  color: #ff0054;
}

h2 {
  color: #1460aa;
}

.malinowy-naglowek {
  color: #af1b3f;
}

.fioletowy-naglowek {
  color: #607196;
}

.seledyn {
  color: #68a691;
}
