body {
  background: #706369;
}

#podkreslenie {
  background: #b9a6ab;
}

nav a {
  color: #ff0054;
  display: inline-block;
}

.nawigacja {
  background: #b9a6ab;
  padding: 13px;
  border-radius: 10px;
}

.nawigacja__link {
  color: #1460aa;
  display: inline-block;
  margin: 5px;
}

.nawigacja__link--homepage {
  background: #1460aa;
  color: #68a691;
}
.main {
  box-sizing: border-box;
  max-width: 1000px;
  margin: 50px auto;
}

.blok {
 padding: 15px;
 border: 1px #b9a6ab dashed; 
margin-top: 6px;
}

.blok__fioletowy-h2 {
  padding: 5px;
  border: 2px #af1b3f solid;
  border-radius: 10px;
  background: #b9a6ab;
}

.blok__fioletowy-h2--special {
  border: 3px #af1b3f groove;
  background: transparent 

}

h2 {
  color: #1460aa;
}

.malinowy-h1 {
  color: #af1b3f;
}

.fioletowy-h2 {
  color: #3f5380;
}

.seledyn {
  color: #68a691;
}
