body {
  background: #706369;
  background-color: #FAACA8;
background-image: linear-gradient(332deg, #FAACA8 0%, #DDD6F3 61%);

  




}

.header{

}
#podkreslenie {
  background: #b9a6ab;
}

nav a {
  color: #ff0054;
  display: inline-block;
}

.nawigacja {
  background: #b9a6ab;
  padding: 13px;
  border-radius: 10px;
}

.nawigacja__link {
  color: #1460aa;
  display: inline-block;
  margin: 5px;
}

.nawigacja__link--homepage {
  background: #1460aa;
  color: #68a691;
}
.main {
  max-width: 1000px;
  margin: 0px auto;
}

.blok {
 padding: 15px;
 border: 1px #b9a6ab dashed; 
margin-top: 6px;
}

.blok__fioletowy-h2 {
  padding: 5px;
  border: 2px #af1b3f solid;
  border-radius: 10px;
  background: #b9a6ab;
}

.blok__fioletowy-h2--special {
  border: 3px #af1b3f groove;
  background: transparent 

}

.pomysł{

}

.pomysł__seledyn{

}

.pomysł__opis{

}

h2 {
  color: #1460aa;
}

.malinowy__h1 {
  color: #af1b3f;
}

.fioletowy-h2 {
  color: #3f5380;
}

.pomysł__seledyn {
  color: #68a691;
}

.footer{
  max-width: 1000px;
  margin: 8px auto;
}